<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/logo_dokku.png">
    </a>
    <h1>Getting Started with Node on Dokku</h1>
    <p>This is a sample Node application.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Deploy your own PaaS mono machine easily with Dokku.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>


</body>
</html>
